{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django app</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda totam quaerat excepturi ex eaque, ipsa molestiae maxime, aliquam neque adipisci, unde hic iste pariatur culpa consectetur corporis repudiandae. Assumenda, quam.</p>

       <div class="text-center">
        <a class="btn btn-dark" href="{% url 'signin' %}">
            Signin
        </a>
        <a class="btn btn-dark" href="{% url 'signup' %}">
            Signup
        </a>
       </div>

    </section>
</main>


{% endblock %}

